{% extends "base.html" %}

{% block content %}

    <h3> {{ Header }} </h3>

    <form action="/events" method="post">

        <label for="title">Event</label>
        <input type="text" name="title" id="title">

        <label for="description">Description</label>
        <textarea name="description" id="description" cols="30" rows="2"></textarea>

        <label for="date">Date</label>
        <input type="date" name = "date" id="date">

        <label for="number of guests">Number of guests</label>
        <input type="number" name="guests" id="guests">

        <label for="location">Location</label>
        <input type="text" name="location" id="location">

        <input type="submit" value="Add Event">

    </form>

    {% for event in events %}
    <div>
        <p>
            {{ event.date }} : {{ event.name_of_event }} <a href="http://127.0.0.1:4999/events/{{events.index(event)}}"> Read More ...</a>
        </p>
    </div>
    {%endfor%}

{% endblock %}


